:root {
  --color-light: #ffd; 
  --color-dark: #111;
  --color-green: #339933;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #000;
  background-color: var(--color-dark);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root * {
  box-sizing: border-box;
}

body {
  margin: 0;
}

a {
  font-weight: 500;
  color: var(--color-green);
  text-decoration: inherit;
}

a:hover {
  font-weight: bold;
}

input[type='text'] {
  border: none;
  background: var(--color-light);
  font-size: 1rem;
  margin: 0.5rem 0.25rem 0.5rem 0;
  height: 2.3rem;
  padding: 0.5rem;
  border-radius: 0.5rem; 
  min-width: 10px;
}

button {
  border-radius: 0.5rem;
  border: none;
  padding: 0.5em 1.2em;
  margin: 0.5rem 0.25rem;
  height: 2.3rem;
  font-size: 1rem;
  line-height: 1;
  font-weight: 700;
  font-family: inherit;
  background-color: var(--color-green);
  cursor: pointer;
  transition: border-color 0.25s;
  color: #fff;
  white-space: nowrap;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.mainContainer {
  background: var(--color-dark);
  width: 80ex;
  max-width: 100%;
  max-height: 100dvh;
  overflow: hidden;
  margin: 0 auto;
  padding: 0.5rem 0.5rem 0 0.5rem;
  position: relative;
}

.topBar {
  width: 100%;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
}

.topBar .titleContainer {
  background: var(--color-dark);
  width: 100%;
  box-shadow: 0 5px 5px 0px #000000aa;
  padding: 0 0.5rem;
}

.topBar .titleContainer h1 {
  font-size: 2.1em;
  line-height: 1;
  margin: 0.5rem auto 0.25rem auto;
  align: center;
  color: var(--color-light);
}

.topBar.visible .titleContainer {
  display: block;
}

.topBar.hidden .titleContainer {
  display: none;
}

.topBar .controlsContainer {
  display: flex;
}

.topBar .controlsContainer > input[type="text"] {
  flex: 1 1 auto;
}

.topBar .controlsContainer > button {
  margin-right: 0;
}

.topBarToggleContainer button {
  background: var(--color-dark);
  color: #fff;
  font-weight: bold;
  font-size: 1.1rem;
  line-height: 0.9;
  border-radius: 0 0 0.5rem 0.5rem;
  margin: 0;
  box-shadow: 0 5px 5px 0px #00000055;
}

.topBarToggleContainer button:hover {
  background: linear-gradient(var(--color-dark),#232); 
}

.topBarToggleContainer button:focus,
.topBarToggleContainer button:focus-visible {
  outline: 0px auto -webkit-focus-ring-color;
}

.bookNav {
  padding: 0.5rem 0;
  text-align: center;
  max-height: 9dvh;
  overflow: hidden;
  background: var(--color-dark);
}

.bookNav button {
  margin: 0 0.25rem;
}

.bookNav button[disabled] {
  margin: 0 0.25rem;
  opacity: 0.42;
  cursor: not-allowed;
}
